[Desktop Entry]
Name=Achilles
Exec=/usr/lib/goose/Achilles %U
Icon=/usr/share/pixmaps/goose.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;
